{% extends 'layout.jinja' %}
{#
    Assistant workqueue view.

    REQUIRES
        title:          str
        assistant:      dict schooner.db.assistant.CourseAssistant
        queue:          list schooner.api.AssistantWorkqueue
        
#}

{% block content %}
<script>
    function cancel_evaluation(submission_id) {
        if (!window.confirm("Are you sure?")) {
            return false;
        }
        var form = document.createElement("form");
        var element = document.createElement("input");

        form.method = "POST";
        form.action = "assistant_evaluation_cancel.html";

        element.setAttribute('type', 'hidden')
        element.setAttribute('name', 'sid')
        element.setAttribute('value', submission_id)

        form.appendChild(element);
        document.body.appendChild(form);

        form.submit();
    }

    function startEvaluation() {
        var form = document.createElement("form");
        form.method = "POST";
        form.action = "assistant_evaluation_begin.html";
        var element = document.createElement("input");
        element.setAttribute('type', 'hidden')
        element.setAttribute('name', 'cid')
        element.setAttribute('value', '{{ assistant['course_id'] }}')
        form.appendChild(element);
        document.body.appendChild(form);

        form.submit();
    }
</script>
<style>
    table, td, th {  
        border:             1px solid #ddd;
        text-align:         left;
    }

    table {
        border-collapse:    collapse;
        width:              100%;
    }

    th, td {
        padding:            3px;
    }

    th {
        background:         #ddd;
        font-weight:        Bold;
    }

    th>.truncate, td>.truncate{
        width:              auto;
        min-width:          0;
        max-width:          300px;
        display:            inline-block;
        overflow:           hidden;
        text-overflow:      ellipsis;
        white-space:        nowrap;
    }

    tr.change_on_over:hover td {
        background:         #EDEDED;
    }
</style>
    <p>
        <h2>{{ assistant['course_code'] }} {{ assistant['course_name'] }}</h2>
        <div>{{ assistant['name'] }}, status as a course assistant: {{ assistant['status'] }}</div>
    </p>
    <p><div>
{% if assistant['open_submission_id'] %}
        You have a submission (#{{ assistant['open_submission_id'] }}) open for evaluation.
        <button onclick="location.href='assistant_evaluation.html?sid={{ assistant['open_submission_id'] }}'">Continue</button>&nbsp;<button onclick="cancel_evaluation({{ assistant['open_submission_id'] }})">Cancel</button>
{% elif assistant['status'] == 'active' %}
    {% if queue|length == 0 %}
        Submission queue is empty. Nothing to do today. Check back tomorrow.
    {% else %}
        Currently not evaluating a submission. <button onclick="startEvaluation()">Start evaluation</button>
    {% endif %}
{% else %}
        You are registered as an assistant to this course, but are currently not active (and thus cannot start evaluations).
{% endif %}
    </div></p>
{% if queue|length > 0 %}
    <p></p>
    <p>
        Student submissions not yet evaluated:<br>
        <table>
            <tr>
                <th>Assignment</th>
                <th>Student</th>
                <th>Submitted</th>
                <th>Deadline</th>
                <th>Under Evaluation</th>
            </tr>
    {% for sub in queue %}

    <tr>
        <td><div class="truncate">{{ sub['assignment_id'] }} {{ sub['assignment_name'] }}</div></td>
        <td>{{ sub['lastname'] }}, {{ sub['firstname'] }}</td>
        <td>{{ sub['submitted'].strftime('%Y-%m-%d %H:%M:%S') }}</td>
        <td>{{ sub['deadline'].strftime('%Y-%m-%d') }}</td>
    {% if sub['evaluator_uid'] %}
        <td>Started by {{ sub['evaluator_name'] }} on {{ sub['evaluation_started'].strftime('%Y-%m-%d %H:%M:%S') }}</td>
    {% else %}
        <td></td>
    {% endif %}
    </tr>

    {% endfor %}
    </table>
    </p>
{% endif %}

{% endblock %}