{% extends 'layout.jinja' %}
{#
    Assistant index view.

    REQUIRES
        title:          str
        assistant_name: str
        courselist:     list schooner.db.assistant.AssistantList
        
#}

{% block content %}
    <style>
        table, td, th {  
            border:             1px solid #ddd;
            text-align:         left;
        }

        table {
            border-collapse:    collapse;
            width:              100%;
        }

        th, td {
            padding:            3px;
        }

        th {
            background:         #ddd;
            font-weight:        Bold;
        }

        th>.truncate, td>.truncate{
            width:              auto;
            min-width:          0;
            max-width:          300px;
            display:            inline-block;
            overflow:           hidden;
            text-overflow:      ellipsis;
            white-space:        nowrap;
        }

        tr.change_on_over:hover td {
            background:#EDEDED;
        }
    </style>
    <div>
        <h2>{{ assistant_name }}</h2>
        <p>
            Basic assistant view...
        </p>
        <p>
        <h3>Registered as an assistant to courses</h3>
{% if courselist|length == 0 %}
        <p>You have not been registered into any courses as an assistant.</p>
{% else %}
        <table>
            <tr>
                <th>Year</th>
                <th>Code</th>
                <th>Name</th>
                <th>Assigned Date</th>
                <th>Assistant Status</th>
            </tr>
    {% for course in courselist %}
            <tr
        {% if course['assistant_status'] == 'active' %}
            class="change_on_over" 
            onclick="location.href='assistant_workqueue.html?cid={{ course['course_id'] }}'"
            style="cursor: pointer;"
        {% endif %}
            >
                <td>{{ course['course_opens'].strftime('%Y') }}</td>
                <td>{{ course['course_code'] }}</td>
                <td><div class="truncate">{{ course['course_name'] }}</div></td>
                <td>{{ course['assistant_created'].strftime('%Y-%m-%d') }}</td>
                <td>{{ course['assistant_status'] }}</td>
            </tr>
    {% endfor %}
{% endif %}
        </p>
    </div>
{% endblock %}