{% extends 'layout.jinja' %}
{#
    For displaying server errors of all kind

    REQUIRES
        title
        message
        
#}
{% block content %}
    <h1>{{ title }}</h1>
    <p>{{ message }}</p>
{% endblock %}
