{% extends 'layout.jinja' %}
{#
    Accept GitHub account registration.

    REQUIRES
        title: str
        uid: str
        registration: dict (schooner.api.GitRegistration)
        
#}

{% block content %}
    <div>
        <h2>{{ registration.course_code }} {{ registration.course_name }}</h2>
        <p>
            Course duration: {{ registration.course_opens.strftime('%d.%m.%Y') }} - 
            {% if registration.course_closes %}
                {{ registration.course_closes.strftime('%d.%m.%Y') }}
            {% endif %}
            <br>
            GitHub account registration open until: {{ registration.deadline.strftime('%d.%m.%Y') }}
            {% if registration.github_registration_open != 'y' %}
                (registration is closed)
            {% endif %}
        </p>
        <p>
    {% if registration.github_account %}
            Previously registered: git@github.com:{{ registration.github_account }}/{{ registration.github_repository }}.git
    {% else %}
            No GitHub account has been registered for this course.
    {% endif %}
        </p>
    {% if registration.github_registration_open == 'y' %}
        <p>
            Please type your GitHub account name only:<br>
            <form action="/register.html" method="post">
            <input type="hidden" name="cid" value="{{ registration.course_id }}">
        {% if registration.github_account_submitted == 'y' and registration.submission_state == 'draft' %}
            <input
                type="text"
                name="account_name"
                maxlength="39"
                size="39"
                value="{{ registration.submission_content if registration.submission_content }}">
            <button>Update</button><br>
            <b>Registration may take up to 5 minutes.</b> <i>Current registration attempt was submitted on {{ registration.submission_created.strftime('%d.%m.%Y %H:%m:%S') }}, but not yet processed by the backend system.<br>
            If you haven't already created a collaborator invitation for your GitHub repository, please do so now for the course's GitHub account: {{ registration.course_github_account }}.</i>
        {% else %}
            <input
                type="text"
                name="account_name"
                maxlength="39"
                size="39"
                value="">
            {% if registration.github_account %}
                <button>Change Registration</button>
            {% else %}
                <button>Register</button>
            {% endif %}
        {% endif %}
            </form>
        </p>
    {% endif %}
    </div>
    <div>Note that updating the github account is possible only until the
    collaborator invitation has been successfully accepted. This feature is
    available primarily to correct typos that prevent the system from matching
    the registered account name and the pending invitation.</div>
{% endblock %}